<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <P>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</P>
    </div>

    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Đồ gia dụng</option>
            <option value="">Bánh kẹo</option>
            <option value="">Hoa quả</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Macbook Air 2021</h3>
                <p class="product-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                <h6 class="product-warranty">Bảo hành 12 tháng</h6>
                <h5 class="product-price">Giá: 30.000.000 VND</h5>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-outline-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-primary">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>